<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial=sacle=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="css/global.css">
        <title>Ninja Wonga</title>
    </head>
    <body class="indigo">
        <header class="indigo darken-1 section">
            <h2 class="center white-text">Ninja Wonga</h2>
            <p class="flow-text grey-text center text-lighten-2">Monthly money tracker for ninjas...</p>
        </header>
        <div class="container section">
            <div class="row">
                <div class="col s12 m6">
                    <form class="card z-depth-0">
                        <div class="card-content">
                            <span class="card-title indigo-text">Add Item:</span>
                            <div class="input-field">
                                <input type="text" id="name">
                                <label for="name">Item Name</label>
                            </div>
                            <div class="input-field">
                                <input type="text" id="cost">
                                <label for="cost">Item Cost($)</label>
                            </div>
                            <div class="input-field center">
                                <button class="btn-large pink white-text">Add Item</button>
                            </div>
                            <div class="input-field center">
                                <p class="red-text" id="error"></p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col s12 m5 push-m1">
                    <div class="canvas"></div>
                </div>
            </div>
        </div>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
        <!-- TODO: Add SDKs for Firebase products that you want to use
             https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>

        <script>
            // Your web app's Firebase configuration
            var firebaseConfig = {
                apiKey: "AIzaSyAzvP0DT_fKVAiBsB_ulwCb2bJTEHy-SBI",
                authDomain: "d3-project1-5e90d.firebaseapp.com",
                databaseURL: "https://d3-project1-5e90d.firebaseio.com",
                projectId: "d3-project1-5e90d",
                storageBucket: "d3-project1-5e90d.appspot.com",
                messagingSenderId: "606564502204",
                appId: "1:606564502204:web:b1735745196f8ac11e5eb9",
                measurementId: "G-33D1BS44SD"
            };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
            const db = firebase.firestore();
        </script>
        <!-- Compiled and minified JavaScript -->
        <script src="js/d3.min.js"></script>
        <script src="js/d3-legend.min.js"></script>
        <script src="js/materialize.min.js"></script>
    </body>
</html>
